/* General Sibling Selector (~) */
/* p ~ h1{
    color: blueviolet;
} */


/* Adjacent Sibling Selector (+) */
/* p + h1 {
    color: red
} */

/* Child Selector (>)*/
/* .parent >.brother{
    color: yellow
} */
/* Descendant Selector (space) */
.parent .brother-son{
    color: blueviolet;
}